* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #331;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  cursor: pointer;
  background-color: #b3a4b1;
  color: #fff;
}
.btn active {
  background-color: rgb(247, 4, 186);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
