* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.4;
  background-color: #b3a4b1;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: rgb(247, 4, 186);
}

.container {
  padding: 0 1rem;
}

.btn {
  cursor: pointer;
  background-color: #b3a4b1;
  color: #fff;
  vertical-align: middle;
  margin-bottom: 25px;
}
.btn:active {
  background-color: rgb(247, 4, 186);
}

.checkbox-style {
  margin-right: 15px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
